*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: lightgrey;
}
			/*HEADER*/
#header{
	height: 10ex;
	background: #F2F609;
	position: relative;
}
			/*LOGO*/
#logo{
	position: absolute;
	top: 8px;
	left: 15px;
	width: 60px;
	height: 60px;
	background: transparent;
}
			/*NOMBRE*/
#nombre{
	position: absolute;
	top: 20px;
	left: 94px;
	font-weight: bolder;
	font-family: helvetica;
}
h2 a{
	text-decoration: none;
	color: black;
}
			/*MENÚ*/
.control{
	border-radius: 50px;
	text-align: center;
}
.btn{
	border: 1px solid black;
	

}
#menu{
	margin:auto;
	width: 70%;
	height: 50px;
	background: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;

}
#busqueda{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	margin-left: 10px;
	border: 1px solid black;
	width: 80px;
	text-align: center;
	border-radius: 10px;
	padding: 5px;
}
.lista1{
	width: 160px;
	margin-left: 15px;
	text-align: center;
	align-content: center;
	text-decoration: none;
	text-transform: capitalize;
	font-weight: 300;
	background: transparent;
	z-index: 1;
}
.lista1:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 30px -15px rgb(0, 0, 0, 0.5);
}
#iniciar{
	background: transparent;
	width: 200px;
}
#encuestas{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 88%;
	top: 25px;
}
#carrito{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 93%;
	top: 25px;
}
ul li{
	list-style: none;
}
li a{
	color: black;
	text-decoration: none;
}
 			/*SUBMENÚS*/
header li a:hover{
	width: 360px;
	border-radius: 50px;
}
li ul li{
	display: block;
	background: #F5C41C;
	border-radius: 0px;
	font-size: 18px;
}
header li{
	margin: 5px;
}
header li ul{
	display: none;
	position: absolute;
	min-width: 140px;
}
header li:hover > ul{
	display: block;
}

			/*BANNER*/
.banner{
	margin: auto;
	padding: 20px;
	background-color: black;
	width: 100%;
	height: 400px;
	background-image: url(img/baner111.jpg);
	background-size: cover;
	position: relative;
}
			/*DESCRIPCIÓN DE BANER*/
#texto{
	margin-left: 15%;
	margin-top: 50px;
	color: white;
	font-size: 30px;
	font-weight: bolder;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 500px;
	background: transparent;
}
#descuento{
	position: absolute;
	left: 20%;
	top: 30%;
	width: 50%;
	color: white;
	font-size: 60px;
	font-weight: bolder;
	background: transparent;
	text-transform: uppercase;
}
#pagando{
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bolder;
	position: absolute;
	left: 20%;
	top: 55%;
}
			/* PRODUCTOS */
#vendemos{
	background: transparent;
	width: 100%;
	height: 400px;
	position: relative;
	margin:auto;
	margin-top: 30px;
}
.vendidos{
	background: orange;
	width: 300px;
	height: 400px;
	position: absolute;
	border-radius: 20px;
}
#packs{
	left: 8%;
}
#ramen{
	left: 40%;
}
#alcohol{
	left: 71%;
}
			/*IMAGENES Y PRECIOS*/
.comestibles:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 30px -15px rgb(0, 0, 0, 0.5);
}
#vasito{
	width: 250px;
	height: 250px;
	position: absolute;
	top: 20px;
	left: 25px;
}
#noodle{
	position: absolute;
	top: 20px;
	left: 25px;
	width: 250px;
	height: 250px;
}
#soju{
	position: absolute;
	top: 12px;
	left: 50px;
	width: 200px;
	height: 270px;
}
.shin{
	text-transform: uppercase;
	font-weight: bolder;
	position: absolute;
	top: 65%;
	left: 30%;
	text-decoration: none;
	color: black;
	background: transparent;
}
.precio{
	top: 76%;
	left: 43%;
	color: black;
	position: absolute;
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;	
}
			/*boton de carrito*/
.boton{
	width: 50%;
	color: white;
	position: absolute;
	top: 85%;
	left: 25%;
	border-radius: 20px;
	background: black;
	text-decoration: none;
	text-align: center;
}
.boton:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 30px -15px rgb(0, 0, 0, 0.5);
}
			/*NOSOTROS*/
#progra{
	width: 80%;
	margin: auto;
	height: 450px;
	padding: 50px;
	display: flex;
	margin-top: 30px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: black;
}
.miembros{
	width: 400px;
	height: 400px;
	display: flex;
	margin-top: 30px;
	background: darkred;
	margin-bottom: 30px;
	border-radius: 20px;
	align-items: flex-end;
	justify-content: center;
}
#agus{
	background-image: url(img/agus.jpeg);
	background-size: cover;
}
#eli{
	background-image: url(img/eli.png);
	background-size: cover;
}
.romero{
	width: 50%;
	color: white;
	font-size: 20px;
	text-align: center;
	margin-bottom: 30px;
	border-radius: 20px;
	background-color: black;
}
			/*FOOTER*/
footer{
	width: 100%;
	height: 40%;
}
	/* imagen de logo */
#final{
	margin-top: 40px;
	background: #F7DC6F ;
	width: 100%;
	height: 400px;
	position: relative;
}
#imgfin{
	width: 250px;
	height: 250px;
	position: absolute;
	top: 10%;
	left: 5%;
}
h3{
	text-transform: uppercase;
	font-weight: bolder;
	color: black;
	font-size: 50px;
	position: absolute;
	top: 75%;
	left: 7.5%;
}
	/*descripción breve*/
.ache{
	text-transform: uppercase;
	font-weight: bolder;
	position: absolute;
	top: 20%;
}
#description{
	left: 30%;
}
#tienda{
	position: absolute;
	top: 25%;
	left: 30%;
}
	/*REDES SOCIALES*/
.redes{
	position: absolute;
	top: 45%;
}
#insta{
	left: 30%;
}
#facebook{
	left: 34%;
}
	/*MODOS DE PAGO*/
#modo{
	top: 20%;
	left: 55%;
	color:#282828 ;
	font-size: 15px;
}
#tarjeta{
	position: absolute;
	left: 55%;
	top: 25%;
}
.pago{
	position: absolute;
	top: 45%;
}
#credito{
	left: 55%;
}
#telefono{
	left: 60%;
}
#wpp{
	left: 65%;
}
	/*UBICACIÓN*/
#ubi{
	left: 78%;
}
#lr{
	position: absolute;
	top: 25%;
	left: 78%;
}
#ubic{
	position: absolute;
	top: 45%;
	left: 78%;
}
	/*COPYRIGHT*/
#copy{
	font-size: 20px;
	font-weight: bolder;
	position: absolute;
	top: 80%;
	left: 40%;
}